<mat-toolbar color="primary" class="fix-nav">
  <button type="button" mat-icon-button class="visible-md" (click)="toggleSidebar()">
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
  </button>
  <div class="nav-brand">
    <a href="/" class="hidden-sm" class="logo">
      Warranty Keys
    </a>
  </div>
  <div class="right-nav">
      <div class="nav-flex nav-tagline">
        <span class="nav-pipe"></span>
        <span>Warranty Key and Contract Management</span>
      </div>
      <span class="nav-spacer"></span>
      <div class="nav-flex nav-right-menu">
        <span>John Doe</span>
        <span class="nav-pipe"></span>
        <a src="javascript:void(0)" class="nav-signout" (click)="onLoggedout()">
          Signout
        </a>
      </div>
  </div>
  
</mat-toolbar>
