.nav-brand {
  width:290px;
  margin-left:10px;
}
.nav-brand .logo{
  position: relative;
  display: inline-block;
  margin-top: 29px;
}

.nav-brand .logo:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 277px;
  height: 57px;
  background: url('../../../../../assets/img/vw-logo.jpeg');
  background-size: cover;
}


.right-nav {
  width: 100%;
  display: flex;
  margin:0px 40px;
}

.nav-spacer {
  flex: 1 1 auto;
}


.nav-pipe {
  align-items: center;
  display: flex;
}
.nav-pipe::after {
  content: "";
  height: 50px;
  align-items: normal;
  display: flex;
  border-right: 2px solid;
  margin: 0px 30px;
}

.nav-flex {
  display: flex;
  align-items: center;
}

.nav-signout {
  letter-spacing: 0.1px;
  color: #006590;
  border: 1px solid #71787E;
  border-radius: 20px;
  padding: 5px 20px;
}



.visible-md {
  display: none;
}
.visible-sm {
  display: none;
}
@media screen and (max-width: 992px) {
  .visible-md {
      display: block;
  }
}
@media screen and (max-width: 768px) {
  .visible-sm {
      display: block;
  }
  .nav-brand {
      width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .hidden-sm {
      display: none;
  }
}
