<mat-toolbar color="primary" class="fix-nav">
  <button type="button" mat-icon-button class="visible-md" (click)="toggleSidebar()">
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
  </button>
  <div class="nav-brand">
    <a href="/" class="hidden-sm" class="logo">
      Warranty Keys
    </a>
  </div>
  <div class="right-nav">
      <div class="nav-flex nav-tagline">
        <span class="nav-pipe"></span>
        <span class="mat-headline-1">Warranty Key and Contract Management</span>
        <span class="username">John Doe</span>
      </div>
      
      <div class="nav-right-menu">
        <span class="nav-pipe"></span>
        <app-button
          [buttonText]="'Sign Out'"
          [buttonColor]="'blue'"
          [buttonType]="'mat-stroked-button'"
          class="signout"
      ></app-button>
      </div>
  </div>
  
</mat-toolbar>
