<mat-toolbar color="primary" class="fix-nav">
  <button type="button" mat-icon-button class="visible-md" (click)="toggleSidebar()">
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
  </button>
  <div class="nav-brand">
    <a href="/" class="hidden-sm" class="logo">
      Warranty Keys
    </a>
  </div>
  <div class="right-nav">
      <div class="nav-flex nav-tagline">
        <span class="nav-pipe"></span>
        <span class="mat-headline-1">Warranty Key and Contract Management</span>
      </div>
      <span class="nav-spacer"></span>
      <div class="nav-flex nav-right-menu">
        <span class="username">John Doe</span>
        <span class="nav-pipe"></span>

        <button mat-stroked-button class="signout">
          Sign Out
        </button>
      </div>
  </div>
  
</mat-toolbar>
