.nav-brand .logo{
  display: flex;
  align-items: center;
  height: 100%;
  width:275px;
}

.nav-brand .logo:after {
  content: "";
  display: block;
  position: absolute;
  width: 275px;
  height: 57px;
  background: url('../../../../../assets/img/logo.png');
  background-size: cover;
}


.right-nav {
  width: 100%;
  display: flex;
}

.nav-spacer {
  flex: 1 1 auto;
}


.nav-pipe {
  align-items: center;
  display: flex;
}
.nav-pipe::after {
  content: "";
  height: 48px;
  align-items: normal;
  display: flex;
  border-right: 2px solid;
  margin: 0px 25px;
}

.nav-flex {
  display: flex;
  align-items: center;
  .username {
    font-size: 16px;
    line-height: 24px;
  }
  .signout {
    border: 1px solid #71787E;
    border-radius: 100px;
    color: #006590;
    font-family: 'VWHeadWeb-Bold';
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.10000000149011612px;
    text-align: center;
  }
}



.visible-md {
  display: none;
}
.visible-sm {
  display: none;
}
@media screen and (max-width: 992px) {
  .visible-md {
      display: block;
  }
}
@media screen and (max-width: 768px) {
  .visible-sm {
      display: block;
  }
  .nav-brand {
      width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .hidden-sm {
      display: none;
  }
}
