.fix-nav{
    .logo{
      display: flex;
      align-items: center;
      height: 100%;
      width:275px;
      &::after {
        content: "";
        display: block;
        position: absolute;
        width: 275px;
        height: 57px;
        background: url('../../../../../assets/img/logo.png');
        background-size: cover;
      }
    }

    .right-nav {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .nav-right-menu{
        display: flex;
        align-items: center;
      }
    
      .nav-flex {
        display: flex;
        width: 100%;
        align-items: center;
        .username {
          font-family: 'VWTextWeb-Bold';
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 24px;
          margin-left:auto;
        }
      }
    
      .nav-pipe {
        align-items: center;
        display: flex;
        &::after {
          content: "";
          height: 48px;
          align-items: normal;
          display: flex;
          border-right: 2px solid #4C5356;
          margin: 0px 25px;
        }
      }
    }   
}


.visible-md {
  display: none;
}
.visible-sm {
  display: none;
}
@media screen and (max-width: 992px) {
  .visible-md {
      display: block;
  }
}
@media screen and (max-width: 768px) {
  .visible-sm {
      display: block;
  }
  .nav-brand {
      width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .hidden-sm {
      display: none;
  }
}
