.mat-mdc-button:not(:disabled) {
  /* color: var(--mdc-text-button-label-text-color, inherit); */
  color: black;
}
button.mdc-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4px;
  height: 40px;
  background: #006590;
  border-radius: 100px;

}

.mat-mdc-outlined-button {
  --mdc-outlined-button-outline-color: #004666;
}
