@use '@angular/material' as mat;
@import '@angular/material/theming';

@font-face {
    font-family: 'VWTextWeb-Regular';
    src: url('../assets/fonts/VWTextWeb-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'VWTextWeb-Bold';
    src: url('../assets/fonts/VWTextWeb-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'VWHeadWeb-Regular';
    src: url('../assets/fonts/VWHeadWeb-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'VWHeadWeb-Bold';
    src: url('../assets/fonts/VWHeadWeb-Bold.ttf') format('truetype');
}


$custom-typography: mat.define-typography-config(
    $font-family: 'VWTextWeb-Regular, monospace',
    $headline-1: mat.define-typography-level(24px, 22px, 700),
    $body-1: mat.define-typography-level(16px, 24px, 500),
);
@include mat.all-component-typographies($custom-typography);
