@use '@angular/material' as mat;
@import '@angular/material/theming';
@include mat.core();


// define a real custom palette (using http://mcg.mbitson.com)
$vw-palette: (
    50: #ffffff,
    100: #dde6f3,
    200: #b4c9e4,
    300: #7fa3d1,
    400: #6992c9,
    500: #ffffff,
    600: #4072b4,
    700: #38649d,
    800: #305687,
    900: #284770,
    A100: #ffffff,
    A200: #dde6f3,
    A400: #6992c9,
    A700: #38649d,
    contrast: (
        50: $black-87-opacity,
        100: $black-87-opacity,
        200: $black-87-opacity,
        300: $black-87-opacity,
        400: $black-87-opacity,
        500: #48535A,
        600: white,
        700: white,
        800: white,
        900: white,
        A100: $black-87-opacity,
        A200: $black-87-opacity,
        A400: $black-87-opacity,
        A700: white,
    )
);

$vw-secondary-palette: (
    50: #ffffff,
    100: #fff7f4,
    200: #fecdbd,
    300: #fc9977,
    400: #fc8259,
    500: #fb6c3b,
    600: #fa551d,
    700: #f44205,
    800: #d63a04,
    900: #b83204,
    A100: #ffffff,
    A200: #fff7f4,
    A400: #fc8259,
    A700: #f44205,
    contrast: (
        50: $black-87-opacity,
        100: $black-87-opacity,
        200: $black-87-opacity,
        300: $black-87-opacity,
        400: $black-87-opacity,
        500: white,
        600: white,
        700: white,
        800: white,
        900: white,
        A100: $black-87-opacity,
        A200: $black-87-opacity,
        A400: $black-87-opacity,
        A700: white,
    )
);

$theme-primary: mat.define-palette($vw-palette);
$theme-accent: mat.define-palette($vw-secondary-palette);

@mixin palette($theme) {
    $primary-color: mat.get-color-from-palette($theme, 500);
    .colored-hover:hover {color: $primary-color;}
    .swiper-pagination-bullet {background: $primary-color;}
    .activated-route {border-color: $primary-color !important;}
    .mat-mdc-tab:not(.mat-mdc-tab-disabled) .mdc-tab-indicator__content--underline {border-color: $primary-color;}
  }

@include palette($theme-primary);

$theme: mat.define-dark-theme((
    color: (primary: $theme-primary, accent: $theme-accent),
    typography: mat.define-typography-config()
));

@include mat.all-component-themes($theme);


