<mat-nav-list>
  <h3>Warranty Key</h3>
  <mat-list>
    <mat-list-item>
      <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/blank-page']">
        <mat-icon class="sidenav-icon">insert_drive_file</mat-icon><span matListItemTitle>Warranty Key Master</span>
      </a>
    </mat-list-item>
    <mat-list-item>
      <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/blank-page']">
        <mat-icon class="sidenav-icon">insert_drive_file</mat-icon><span matListItemTitle>Assign Key Manual</span>
      </a>
    </mat-list-item>
  </mat-list>

</mat-nav-list>
