<ul class="nested-menu">
  <li>
    Warranty Key
    <ul class="submenu">
      <li>
        <a href="#">Warranty Key Master</a>
      </li>
      <li class="active">
        <a href="#" >Warranty Key Master</a>
      </li>
      <li>
        <a href="#">Warranty Key Master</a>
      </li>
    </ul>
  </li>
  <li>
    Contracts
    <ul class="submenu">
      <li>
        <a href="#">Warranty Key Master</a>
      </li>
      <li class="active">
        <a href="#" >Warranty Key Master</a>
      </li>
      <li>
        <a href="#">Warranty Key Master</a>
      </li>
    </ul>
  </li>
</ul>

