<ul class="nested-menu">
  <li>
    <span>Warranty Key</span>
    <ul class="submenu">
      <li>
        <a href="#">Warranty Key Master</a>
      </li>
      <li class="active">
        <a href="#" >Warranty Key Master</a>
      </li>
      <li>
        <a href="#">Warranty Key Master</a>
      </li>
    </ul>
  </li>
  <li>
    <span>Contracts</span>
    <ul class="submenu">
      <li>
        <a href="#">Warranty Key Master</a>
      </li>
      <li class="active">
        <a href="#" >Warranty Key Master</a>
      </li>
      <li>
        <a href="#">Warranty Key Master</a>
      </li>
    </ul>
  </li>
</ul>

