<mat-tab-group class="">
  <mat-tab label="Table">
    <app-table
      [tableData]="warrantyKeys"
      [tableColumns]="warrantyKeysTableColumns"
      [isPageable]="true"
      (sort)="sortData($event)"
      [isSelectRowAction]="true"
      [isServerSide]="true"
      (getServerSide)="waitForTableResponse($event)"
      [tableRecordsLoading]="tableRecordsLoading"
    ></app-table>
  </mat-tab>

  <!-- ///////////////// REUSABLE INPUT CONTENT STARTS //////////////////
  /****************************************************************** */
  /****************************************************************** */ -->
  <mat-tab label="Input">
    <form>
      <app-input
        [formControl]="emailFormControl"
        [maxLength]="10"
        [minLength]="2"
        [label]="'Email'"
        [inputType]="'email'"
        [placeholder]="'Email'"
        [inputWidthPercentage]="75"
        [prefixIcon]="'alternate_email'"
      >
      </app-input>

      <app-input
        [formControl]="warrantyKeyFormControl"
        [maxLength]="3"
        [minLength]="3"
        [label]="'Key ID'"
        [inputType]="'text'"
        [disabledFlag]="false"
      >
      </app-input>
    </form>
  </mat-tab>
  <!-- ///////////////// REUSABLE INPUT CONTENT ENDS //////////////////
  /****************************************************************** */
  /****************************************************************** */ -->

  <mat-tab label="Date"> Work in progress </mat-tab>
  <!-- ///////////////// REUSABLE BUTTON CONTENT STARTS //////////////////
  /****************************************************************** */
  /****************************************************************** */ -->
  <mat-tab label="Button">
    <app-button
      [buttonText]="'New Automation'"
      [buttonIcon]="'file_download'"
      [disabledFlag]="false"
      [buttonColor]="'warn'"
    ></app-button>
  </mat-tab>

  <!-- ///////////////// REUSABLE BUTTON CONTENT ENDS //////////////////
  /****************************************************************** */
  /****************************************************************** */ -->
  <mat-tab label="Select">
    <app-select
      fxFill
      placeholder="Country"
      formControlName="location"
      searchPlaceholder="Select"
      [items]="selectOptions"
      (itemFilterServerSide)="waitForFilterResponse($event)"
      bindLabelKey="title"
      bindValueKey="id"
      [showClearIcon]="true"
      [formControl]="selectFormControl"
      [isServerSide]="true"

    ></app-select>
  </mat-tab>
</mat-tab-group>
