<div>

    <h1 class="mat-headline-2">Warranty Key Master</h1>

    <div class="content">

        <div class="table-head">
            <app-button
                [buttonText]="'Create New Warranty Key'"
                [buttonIcon]="'add'"
                [disabledFlag]="false"
                [buttonColor]="'warn'"
            ></app-button>

            <span class="totol_results">350 Total Results</span>
            <app-button
                [buttonText]="'Export List'"
                [buttonIcon]="'download'"
                [buttonColor]="'blue'"
            ></app-button>
        </div>
        <app-table
            [tableData]="warrantyKeys"
            [tableColumns]="warrantyKeysTableColumns"
            (sort)="sortData($event)"
            [isServerSide]="true"
            (getServerSide)="waitForTableResponse($event)"
            [tableRecordsLoading]="tableRecordsLoading"
            ></app-table>
    </div>
</div>
