/* You can add global styles to this file, and also import other style files */

@import './styles/material';
@import './styles/utils';
@import './styles/responsive';
@import './styles/variables';
@import './styles/theme';

.mat-icon{
  font-family: 'Material Icons' !important;
}

html, body { height: 100%; }
body { margin: 0; font-family: "VWTextWeb-Regular", "Helvetica Neue", sans-serif;  color:#044666}

.mat-toolbar.mat-primary {
  background-color: $white;
  border: 1px solid #D0D0D0;
  box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.25);
  height: 110px;
  align-items: normal;
  position: absolute;
}

.mat-drawer-container {
  color:#044666;
}
.mat-mdc-tab-list{
  background-color: #004666;
}
.mat-mdc-form-field-focus-overlay {
  background-color: #dde3ea;
}
.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: #f5f5f5;
}
.mat-mdc-text-field-wrapper .mat-mdc-form-field-infix .mat-mdc-floating-label {
  left: auto;
  right: auto;
  color: black;
}

.mdc-text-field:not(.mdc-text-field--disabled) .mdc-text-field__input {
  color: black;
}

//for development only
.mat-mdc-form-field.mat-focused.mat-primary .mat-mdc-select-arrow {
  /* color: #ffffffde; */
  color: black !important;
}

.mat-mdc-select-arrow {
  /* color: #ffffff8a; */
  color: black !important;
}

.mat-mdc-select-value {
  /* color: #ffffffde; */
  color: black !important;
}

.mat-mdc-select-placeholder {
  color: gray;
}

// .mat-mdc-select-arrow {
.remove-caret-sign .mat-mdc-select-arrow {
  display: none;
}
