// /* You can add global styles to this file, and also import other style files */
@import './styles/material';
@import './styles/utils';
@import './styles/responsive';
@import './styles/variables';
@import './styles/theme';

.mat-icon{
  font-family: 'Material Icons' !important;
}


html, body { height: 100%; }
body { margin: 0; font-family: "VWTextWeb-Regular", "Helvetica Neue", sans-serif;  color:#044666}

.mat-toolbar, .mat-toolbar h1, 
.mat-toolbar h2, .mat-toolbar h3, .mat-toolbar h4, .mat-toolbar h5, .mat-toolbar h6{
  font-family: "VWHeadWeb-Bold";
  font-weight: 500;
  margin:0px;
}
.mat-headline-1, .mat-typography .mat-headline-1{
  margin:0px;
}
.mat-headline-2, .mat-typography .mat-headline-2{
  font: 500 32px/48px 'VWHeadWeb-Bold';
  letter-spacing: -.0083333333em;
  margin: 0 0 24px;
  color: #676562;
  word-spacing: normal;
}

.mat-toolbar.mat-primary {
  background-color: $white;
  border: 1px solid #D0D0D0;
  box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.25);
  height: 106px;
  padding:0px 30px;
  align-items: normal;
  position: absolute;
  z-index: 2;
}

.mat-sort-header-arrow {
  color:#000;
}
.mat-drawer-container {
  color:#044666;
}

.mock-table{
  border: 1px solid #D0D0D0;
}
.mat-mdc-row:nth-child(even){
  background-color: rgb(255 255 255);
}

.mat-mdc-row:nth-child(odd){
  background-color: rgb(248 248 248);
}
.mat-mdc-tab-list{
  background-color: #004666;
}
.mat-mdc-form-field-focus-overlay {
  background-color: #dde3ea;
}
.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: #f5f5f5;
}
.mat-mdc-text-field-wrapper .mat-mdc-form-field-infix .mat-mdc-floating-label {
  left: auto;
  right: auto;
  color: black;
}

.mdc-text-field:not(.mdc-text-field--disabled) .mdc-text-field__input {
  color: black;
}

//for development only
.mat-mdc-form-field.mat-focused.mat-primary .mat-mdc-select-arrow {
  /* color: #ffffffde; */
  color: black !important;
}

.mat-mdc-select-arrow {
  /* color: #ffffff8a; */
  color: black !important;
}

.mat-mdc-select-value {
  /* color: #ffffffde; */
  color: black !important;
}

.mat-mdc-select-placeholder {
  color: gray;
}

// .mat-mdc-select-arrow {
.remove-caret-sign .mat-mdc-select-arrow {
  display: none;
}

.mat-mdc-checkbox .mdc-form-field {
  color: #004666;
}

.mat-mdc-checkbox .mat-accent {
  color: #004666;
}
.mat-mdc-checkbox.mat-accent { //temporary
  --mdc-checkbox-selected-checkmark-color: #000;
  --mdc-checkbox-selected-focus-icon-color: #fb6c3b;
  --mdc-checkbox-selected-hover-icon-color: #fb6c3b;
  --mdc-checkbox-selected-icon-color: #fb6c3b;
  --mdc-checkbox-selected-pressed-icon-color: #fb6c3b;
  --mdc-checkbox-unselected-focus-icon-color: #000000;
  --mdc-checkbox-unselected-hover-icon-color: #000000;
  --mdc-checkbox-disabled-selected-icon-color: #000000;
  --mdc-checkbox-disabled-unselected-icon-color: #000000;
  --mdc-checkbox-unselected-icon-color: #000000;
  --mdc-checkbox-unselected-pressed-icon-color: #000000;
}
