
// .mat-mdc-row:nth-child(even){
// background-color: #ffffff;
// }

// .mat-mdc-row:nth-child(odd){
// background-color: #f8f8f8;
// }




.mat-mdc-table .mdc-data-table__row:nth-child(even){
  background-color: #F8F8F8;
}
.mat-mdc-table .mdc-data-table__row:nth-child(odd){
  background-color: #ffffff;
}
.mat-elevation-z8, .mat-mdc-elevation-specific.mat-elevation-z8 {
  box-shadow: none;
}
.mdc-data-table__cell, .mdc-data-table__header-cell{
  gap: 20px;
  border-bottom: 1px solid #979797;
}
.mdc-data-table__cell, .mdc-data-table__header-cell{
  gap: 20px;
  border-bottom: 1px solid #979797;
}






// ::ng-deep .mat-sort-header-arrow[style] {

//   // Hide default arrow stem
//   .mat-sort-header-stem {
//     display: none;
//   }
//   .mat-sort-header-indicator {
//     opacity: 1;
//     color: black;
//     font-weight: bold;

//     // Hide default arrow as its composed of left, right and middle
//     .mat-sort-header-pointer-left, .mat-sort-header-pointer-right, .mat-sort-header-pointer-middle  {
//       display: none;
//     }
//   }
// }

// // My custom ascending arrow
// [aria-sort="ascending"] {
//   ::ng-deep .mat-sort-header-arrow {
//     .mat-sort-header-indicator {
//       &::before {
//         content: "\2191";
//         top: -1em;
//         position: absolute;
//       }
//     }
//   }
// }

// // My custom descending arrow
// [aria-sort="descending"] {
//   ::ng-deep .mat-sort-header-arrow {
//     .mat-sort-header-indicator {
//       &::before {
//         content: "\2193";
//         top: -1em;
//         position: absolute;
//       }
//     }
//   }
// }


.view-more-section{
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 2rem;
  color: blue
}

.mat-mdc-table {
  padding: 0px;
  border: 1px solid #979797;
  background-color: transparent;
  font-family: 'VWTextWeb-Regular';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.4px;
  color: #5A5A5A;
}

.mdc-data-table__pagination-total, .mdc-data-table__pagination-rows-per-page-label, .mdc-data-table__cell {
  color: #5A5A5A;
}

.mdc-data-table__header-cell{
  color: #333B42;
  font-weight: bold;
}

// .mdc-data-table__cell, .mdc-data-table__header-cell {
//   border-bottom-color: #000000;
// }

.truncate-cell {
  max-width: 60px; /* feel free to include any other value */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
